<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>소켓</title>
    <style>
        body {
            width: 100%;
            height: 100%;
        }
        #come-box {
            width: 500px;
            height: 20px;
            background-color: aquamarine;
            margin-bottom: 10px;
            padding: 5px;
            text-align: center;
        }
        .chat-list {
            width: 500px;
            min-height: 300px;
            height: 100%;
            background-color: skyblue;
            padding: 10px;
            margin-bottom: 10px;
        }
        .chat-list div div{
            display: inline-block;
            padding: 3px;
            margin-bottom: 10px;
        }
        .my-chat {
            text-align: right;
        }
        .access {
            text-align: center;
        }
        .my-chat div {
            background-color: yellow;
        }
        .other-chat div {
            background-color: white;
        }
    </style>
</head>
<body>
    <h1>Hello SeSAC Chat!</h1>
    <div id="chat-list" class="chat-list"></div>
    <select id="nick-list">
        <option value="전체">전체</option>
    </select>
    <input type="text" placeholder="내용" id="message">
    <button type="button" onclick="send();">전송</button>
    <script>
        var nickname = prompt('닉네임을 입력해주세요.');
        var id = '';
        var socket = io.connect();
        socket.emit('info2', { nickname })
        socket.on('info', function(data) {id = data;})
        // 아이디 받아줌

        function send(){
            let msg = document.getElementById('message').value;
            let nick = document.getElementById('nick-list').value;
            console.log(nick)
            socket.emit('send', { to: nick, msg});
            // socket.emit('send', {id, msg});
            // socket.emit('send', {id: id, msg:msg}) 와 동일한 의미 
            document.getElementById('message').value = '';
        }

        socket.on('newMessage', function(data) {
            // data = {id: ~~~. msg: ~~~~ };
            let chat_list = document.getElementById('chat-list'); 
            let div = document.createElement('div');
            // <div></div> 하나 생김 
            let div_chat = document.createElement('div');
            let span = document.createElement('span');

            div_chat.textContent = data.msg; // 박스 안에 메세지 넣어줌 

            if (data.is_dm) div_chat.textContent = "(DM)" + div_chat.textContent; 
            // data.id 메세지 보낸 사람 아이디, id 내 아이디 
            if (data.nickname == nickname) {
                div.classList.add('my-chat');
            } else {
                span.textContent = data.nickname;
                div.appendChild(span);
                div.classList.add('other-chat')
            }
            
            div.appendChild(div_chat); // append로 챗박스안에 자식요소로 넣어줌
            chat_list.appendChild(div); // append로 챗박스안에 자식요소로 넣어줌
        })

        socket.on('notice', function(data) {
            let chat_list = document.getElementById('chat-list'); 
            let div = document.createElement('div');
            div.textContent = data;

            div.classList.add('access')
            chat_list.appendChild(div);
        })

        // 모든 유저정보 받기 
        socket.on('list', function(list) {
            // list = {id~~:nickname , id~~: nickname}
            let nick_list = document.getElementById('nick-list'); 
            while (nick_list.firstChild) {
                nick_list.removeChild(nick_list.lastChild); 
                // 가장끝에 있는 옵션부터 하나씩 지워서 모든 옵션을 지우기(자식요소 없애기)
            }
            let option = document.createElement('option'); 
            option.text = '전체'; 
            option.value = '전체'; 
            nick_list.appendChild( option );
            // 전체 옵션 하나만 생성
            
            var a = {
                key1: '1',
                key2: '2',
                key3: '3'
            }; 

            // 리스트를 분해를 시키면서 포문 도는 것
            for (let [key, value] of Object.entries(a) ) {
                // key = 'key1', value='1';
                // key = 'key2', value='2';
            }

            for (let [key, value] of Object.entries(list) ) {
                // key = 'id', value='nickname';
                let option = document.createElement('option'); 
                option.text = value; 
                option.value = value; 
                nick_list.appendChild( option );
            }
        });
    </script>
</body>
</html>

