<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet">
    <style>
        fieldset {
            width: 300px;
            height: 100px;
        }
        input {
            margin: 2px;
        }
        button {
            margin-top: 2px;
        }
        table {
            margin-top: 20px;
            text-align: center;
        }
        table, tr, td {
            width: 300px;
            height: 20px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <fieldset>
            <legend>방명록 등록
            </legend>
                <label>
                    <input type="text" name="name" placeholder="사용자 이름"><br>
                    <input type="text" naem="message" placeholder="방명록"><br>

                    <button>등록</button>
                </label>
        </fieldset>
    </form>

    <table>
        <tr>
            <td>ID</td>
            <td>작성자</td>
            <td>방명록</td>
            <td>수정</td>
            <td>삭제</td>
        </tr>
    </table>
</body>
</html>