<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>
        fieldset {
            width: 300px;
            height: 100px;
        }
        input {
            margin: 2px;
        }
        button {
            margin-top: 2px;
        }
        table {
            margin-top: 20px;
            text-align: center;
        }
        table, tr, td {
            width: 500px;
            border: 1px solid black;
        }
    </style>
    <script>
        function writeComment(){
            var form = document.getElementById('form_comment');
            axios({
                method: 'post',
                url: 'http://localhost:8080/visitor/write',
                data:{
                    name: form.name.value,
                    comment: form.comment.value
                }
            })
            .then((rep) => {return rep.data})
            .then((data) => {
                // data = {id : 8} 형태 

                let html = "<tr><td>" + data.id + "</td><td>" + form.name.value + "</td><td>" + form.comment.value + "</td><tr>";
                
                $('table').append(html);
                // append는 text아니고 html로 넣어줌 
            });
        }
    </script>
</head>
<body>
    <form id="form_comment">
        <fieldset>
            <legend>방명록 등록</legend>
                <label>
                    <input type="text" name="name" placeholder="사용자 이름"><br>
                    <input type="text" name="comment" placeholder="방명록"><br>

                <div id="button-group">
                    <button type="button" onclick="writeComment();">등록</button>
                </div>
                </label>
        </fieldset>
    </form>

    <table>
        <tr>
            <td>ID</td>
            <td>작성자</td>
            <td>방명록</td>
            <td>수정</td>
            <td>삭제</td>
        </tr>
        <%
            for (let i = 0; i < data.length; i++){
        %> 
            <tr>
            <td><%=data[i].id%></td>
            <td><%=data[i].name%></td>
            <td><%=data[i].comment%></td>
            </tr>
            <%
            } 
            %> 
    </table>

</body>
</html>