<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./css/index.css" /> 
    <title>SeSAC Chat 대기실</title>
</head>
<body>
    <div class="main_container">
      <div class="chat_box">
        <h1>Hello SeSAC Chat!</h1>
        <form class="row g-3" id="input_box">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="닉네임을 입력해주세요">
            </div>
            <div class="col-auto">
              <button type="button" onclick='sendName();' class="btn btn-light mb-3">등록</button>
            </div>
        </form>
      </div>
    </div>
    <script>
      function sendName() {

      }
    </script>
</body>
</html>