<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>login</title>
    <style>
        form {
            width: 500px;
            padding-top: 50px;
            margin: auto;
        }
        h2 {
            text-align: center;
            margin : 2vw;
        }
        button {
            width: 500px;
        }
        #login_process_box {
          width: 500px;
          height: 30px;
        }
        p {
          color: red;
          text-align: center;
        }
    </style>
    <script>
      function changeSuccess(){
        $('#login_process_box').html("<p>로그인 성공</p>")
      }
      function changefail(){
        $('#login_process_box').html("<p>아이디와 비밀번호를 확인해주세요</p>")
      }
      function login() {
        var form = document.getElementById('form_info');
        var space = document.getElementById('login_process_box');
        axios({
          method:'post',
          url:'http://localhost:8080/login',
          data: {
            id : form.id.value,
            pw : form.pw.value
          }
        }).then((a) => {return a.data})
        // a.data의 data가 res.send에서 정보 받아오는 포인트!!!
        .then((d) => {
          if (d.id === form.id.value && d.pw === form.pw.value) {
            changeSuccess();
          } else {
            changefail();
          }
        })
      }
      function login_fetch() {
        var form = document.getElementById('form_info');
        fetch('/test', {
          method: 'POST',
          headers: {
            'Content-Type' : 'application/json',
          },
          body: JSON.stringify({
            id : form.id.value,
            pw : form.pw.value,
          }),
        }).then((a) => {return a.data})
        .then((d) => {
          if (d.id === form.id.value && d.pw === form.pw.value) {
            changeSuccess();
          } else {
            changefail();
          }
        }); 
      }
      function login_ajax() {
        const serverAddress = 'http://localhost:8080/login';
        var form = $('#form_info').serialize();

        $.ajax({
          url:serverAddress,
          type: 'POST',
          dataType: 'json',
          data: form,
          success: function onData (data) {
            // data 그 자체의 상태로는 Object값을 가짐
            let datas = JSON.stringify(data);
            console.log(datas);
          },
          error: function onError (error) {
            alert('실패'+ error);
          }
        })
      }
    </script>
</head>
<body>
    <form id="form_info">
        <h2>Login</h2>
          <div class="mb-3 row">
            <label for="inputID" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input type="text" name="id" class="form-control" required>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" name='pw'class="form-control" id="inputPassword" required>
            </div>
          </div>
          <div id="login_process_box"> 
          </div>
          <button type='button' onclick='login()' class="btn btn-primary">로그인(axios)</button>
          <button type='button' onclick='login_fetch()' class="btn btn-primary">로그인(fetch)</button>
          <button type='button' onclick='login_ajax()' class="btn btn-primary">로그인(ajax)</button>
    </form>
</body>
</html>